
* {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	margin: 18px;
	padding: 0px;
	text-align: center;
	padding-bottom: 20px;
	width: 100%;
}
/*logo adjusting*/
/* hide mobile version by default */
.logo .mobile {
	display: none;
}
.logo .desktop {
	max-width: 220px;
}
/* when screen is less than 600px wide
	 show mobile version and hide desktop */
@media (max-width: 600px) {
	.logo .mobile {
		display: inline;
		justify-content: space-between;
		max-height: 150px;
		max-width: 80px

	}
	.logo .desktop {
		display: none;
	}
}
/*adjusting nav bar menu / footer nav menu using flex box*/
li, a {
	font-weight: normal;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	padding: 6px;
}
.header {
	display: inline;
	justify-content: space-between;
	align-items: center;
	padding: 2.5%;
	font-size: 45px;
}
.nav__links {
	text-transform: lowercase;
}
.nav__links li {
	display: inline-block;
	padding: 25px;
}
/*add box highlighting over hover*/
.nav__links li a:hover {
	background-color: rgb(241, 0, 134);
	color: #fff;
	padding: 6px;
}
/*removes footer bullet points for icons*/
ul {
	list-style: none;
}
/*end of navigation bar styling*/
/*responsiveness styling*/
$mobile: 576px;
$laptop: 992px;
$tablet: 776px;
$desktop: 1200px;
/*styling sub page headings, text*/

h4 {
	text-align: center;
	font-size: 22px;
	font-weight: normal;
	padding: 6px;
}
h1 {
	text-align: center;
	padding-bottom: 20px;
}
/*styles about me text */
section {
padding: 80px;
	background-color: yellow;
}

/*styling section per page*/
gallery-section {
	margin-left: auto;
	margin-right: auto;
	width: 60em;
	height: 100%;
}

p {
	position: relative;
	font-size: 18px;
	padding: 1em;
}
/*fixed footer/header styling*/
.footer-container {
	padding: 1em 0 1em 0;
	background-color: yellow;
}
.footer {
	width: 90%;
	height: 40vh;
	color: black;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}
