html {
  font-size: 100%;
  margin-left:45px;
  margin-top: 30px;
}

header {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  padding: 16px;
  padding-bottom: 0px;
  img
}

/*main background*/
body {
  background-color: red;
  padding: 0;
  margin: 0;
  font-family: 'Work-Sans', sans-serif;
}

/*content background*/
section {
  background-color: white;
  padding: 1.5rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 nav li a {
color: rgb(22, 29, 111);
font-family: 'Work Sans', sans-serif;
text-decoration: 100px;
text-transform: uppercase;
font-size: 12px;
}

nav li a:hover {
  color: white;
  text-decoration: none;
}

footer{
  background-color: transparent;
  color: rgb(22, 29, 111);;
  padding: 2em 0 0 0em;
}
footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0 0 0.5% 0;
}
footer ul li{
  color: rgb(22, 29, 111);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}
footer image{
  height: 15px;
}
