
* {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	font-family: "Poppins", sans-serif;
}
body {
	margin: 18px;
	padding: 0px;
	text-align: center;
	padding-bottom: 20px;
	width: 100%;
}
/*adjusting nav bar menu / footer nav menu using flex box*/
li, a {
	font-weight: normal;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	padding: 6px;
}
header {
	display: inline;
	justify-content: space-between;
	align-items: center;
	padding: 2.5%;
	font-size: 45px;
}
.nav__links {
	text-transform: lowercase;
}
.nav__links li {
	display: inline-block;
	padding: 25px;
}
/*add box highlighting over hover*/
.nav__links li a:hover {
	background-color: rgb(241, 0, 134);
	color: #fff;
	padding: 6px;
}
/*removes footer bullet points for icons*/
ul {
	list-style: none;
}
/*end of navigation bar styling*/
/*responsiveness styling*/
$mobile: 576px;
$laptop: 992px;
$tablet: 776px;
$desktop: 1200px;
/*styling sub page headings, text*/

h4 {
	text-align: center;
	font-size: 22px;
	font-weight: normal;
	padding: 6px;
}
h1 {
	text-align: center;
	padding-bottom: 20px;
}
/*styles about me text */
section {
	padding-left: 8%;
	padding-right: 8%;
	background-color: yellow;
}
/*styling section per page*/
gallery-section {
	margin-left: auto;
	margin-right: auto;
	width: 60em;
	height: 100%;
}

p {
	position: relative;
	font-size: 18px;
	padding: 1em;
}
/*fixed footer/header styling*/
.container {
	width: 100%;
	min-height: 2em;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	overflow: hidden;
}
/*footer styling*/
footer .row {
	display: flex;
	flex-wrap: wrap;
}
.column .icons {
	display: flex;
	justify-content: center;
}
.text-box {
	overflow: hidden;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer .container .row {
	padding: 20px;
}
footer .container .row .column {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
}
 .content {
	padding: 60px;
	min-height: 100%;
	margin: 0 auto -50px;
}
.footer,.push {
	margin-top: 16px;
	height: 80px;
}
.column {
	align-items: center;
	width: 25%;
}
.column .icons {
	display: flex;
	justify-content: center;
}
